<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Habit Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <link rel="shortcut icon" href="favicon.png"/>
    <link href="node_modules/angular-material/angular-material.min.css"
  	 rel="stylesheet"/>
    <link href='css/material-icons.css' rel='stylesheet'/>
    <link href='node_modules/angular-color-picker/angular-color-picker.css'
     rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>
    <link rel="manifest" href="manifest.json"/>
    <meta name="description" content="Experience Recommender">
    <meta name="theme-color" content="#2F3BA2" />    
  </head>
  <body ng-app='eventTypes'>
    <md-content ng-cloak ng-controller='HomeController as ctrl'>
      <md-toolbar id='tabs'>
        <div class="md-toolbar-tools">
          <md-truncate>Habit Tracker</md-truncate>

          <span flex></span>

          <md-button class="md-fab md-mini" aria-label="Add"
           ng-click='ctrl.conditionalAdd()'
           ng-if='selectedTab === 0 || selectedTab === 1'>
            <i class="material-icons">add</i>
          </md-button>
          <md-button class="md-fab md-mini" aria-label="Settings"
           ui-sref='settings'>
            <i class="material-icons">settings</i>
          </md-button>
        </div>
      </md-toolbar>
      
      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab"
       ng-init='selectedTab = 0' md-swipe-content>
        <md-tab label="activities" ui-sref='activities'></md-tab>
        <md-tab label="moods" ui-sref='moods'></md-tab>
        <md-tab label="events" ui-sref='events'></md-tab>
        <md-tab label="goals" ui-sref='goals'></md-tab>
        <md-tab label="stats" ui-sref='stats'></md-tab>
      </md-tabs>

      <div id="content" ui-view flex> </div>
    </md-content>

    <script src='node_modules/angular/angular.js' type='application/javascript'></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src='node_modules/angular-material/angular-material.js'></script>
    <script src='node_modules/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='node_modules/angular-ui-keypress/modules/keypress/keypress.js'></script>
    <script src='node_modules/humanize-duration/humanize-duration.js'></script>
    <script src='node_modules/moment/moment.js'></script>
    <script src='node_modules/angular-timer/dist/angular-timer.min.js'></script>
    <script src='node_modules/chart.js/dist/Chart.min.js'></script>
    <script src='node_modules/angular-chart.js/dist/angular-chart.min.js'></script>
    <script src='node_modules/js-data/dist/js-data.js'></script>
    <script src='node_modules/js-data-localstorage/dist/js-data-localstorage.js'></script>
    <script src='node_modules/angular-long-press/dist/angular-long-press.min.js'></script>
    <script src='node_modules/angular-color-picker/angular-color-picker.js'></script>
    <script src='node_modules/pouchdb/dist/pouchdb.min.js'></script>
    <script src='dist/tracker-ui.js'></script>

    <script type="application/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('service-worker.js')
          .then((reg) => {
            console.log('Service worker registered.', reg);
          });
        });
      }
    </script>
  </body>
</html>
