<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Habit Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <link rel="shortcut icon" href="favicon.png"/>
    <link href="node_modules/angular-material/angular-material.min.css"
	  rel="stylesheet"/>
    <link href='css/material-icons.css' rel='stylesheet'/>
    <link href='node_modules/angular-color-picker/angular-color-picker.css'
    rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>
  </head>
  <body ng-app='eventTypes'>
    <div ng-cloak>
      <ui-view></ui-view>
    </div>

    <script type="text/ng-template" id="home.html">
      <md-content id='tabs'>
      	<md-toolbar>
      	  <div class="md-toolbar-tools">
      	    <md-truncate>Habit Tracker</md-truncate>

      	    <span flex></span>

      	    <md-button class="md-fab md-mini" aria-label="Add"
             ng-click='ctrl.conditionalAdd()'>
      	      <i class="material-icons">add</i>
      	    </md-button>
      	    <md-button class="md-fab md-mini" aria-label="Settings"
             ui-sref='settings'>
      	      <i class="material-icons">settings</i>
      	    </md-button>
      	  </div>
      	</md-toolbar>
      	
      	<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab"
         md-swipe-content>
      	  <md-tab label="activities">
      	    <md-content class="md-padding">
      	      <md-list ng-cloak>
            		<md-list-item class='entry'
                 ng-repeat="activity in activities">
            		  <md-button ng-click='ctrl.activitySelected(activity)'
            			 class="md-list-item-content"
                   on-long-press='ctrl.activityOptions(activity)'>
            		    <div class="md-list-item-text" layout="row">
            		      <span flex>{{activity.name}}</span>
            		      <timer start-time='activity.lastEvent'
                       ng-show='activity.lastEvent'>
                        {{days}}:{{hours}}:{{mminutes}}:{{sseconds}}
                      </timer>
            		    </div>
            		  </md-button>
            		</md-list-item>
      	      </md-list>
      	    </md-content>
      	  </md-tab>
      	  <md-tab label="mood">
      	    <md-content class="md-padding">
      	      <md-list ng-cloak>
                <md-list-item class='entry' ng-repeat="term in terms">
                  <md-button ng-click='ctrl.moodSelected(term)'
                   class="md-list-item-content"
                   on-long-press='ctrl.termOptions(term)'>
                    <div class="md-list-item-text" layout="row">
                      <span flex>{{term.name}}</span>
                      <timer start-time='term.lastEvent'
                       ng-show='term.lastEvent'>
                        {{days}}:{{hours}}:{{mminutes}}:{{sseconds}}
                      </timer>
                    </div>
                  </md-button>
            		</md-list-item>
      	      </md-list>
      	    </md-content>
      	  </md-tab>
      	  <md-tab label="events">
      	    <md-content class="md-padding">
              <section
               ng-repeat="day in eventsByDay | orderBy: '-display_text'">
                <md-subheader class="md-primary">
                  {{day.display_text}}
                </md-subheader>
                <md-list ng-cloak>
              		<md-list-item
                   ng-repeat="event in day.events | orderBy: '-time'">
                    <md-button ng-click='ctrl.eventSelected(event)'
                     class="md-list-item-content"
                     on-long-press='ctrl.eventOptions(event)'>
                      <div class="md-list-item-text" layout="row">
                        <span flex>{{event.source.name}}</span>
                        <span>{{event.display_time}}</span>
                      </div>
                    </md-button>
              		</md-list-item>
        	      </md-list>
              </section>
       	    </md-content>
      	  </md-tab>
      	  <md-tab label="goals">
      	    <md-content class="md-padding">
      	      <h1 class="md-display-2">Goals</h1>
      	    </md-content>
      	  </md-tab>
      	  <md-tab label="stats">
      	    <md-content class="md-padding">
      	      <canvas id="line" class="chart chart-line"
               chart-data="data"
      		     chart-labels="labels" chart-series="series"
      		     chart-options="options"
      		     chart-dataset-override="datasetOverride">
          		</canvas>
      	    </md-content>
      	  </md-tab>
      	</md-tabs>
      </md-content>
    </script>
      
    <script type="text/ng-template" id="activity.html">
      <md-dialog aria-label="{{function}} Activity">
      	<form ng-cloak>
      	  <md-toolbar>
      	    <div class="md-toolbar-tools">
      	      <h2>{{function}} Activity</h2>
      	      <span flex></span>
      	      <md-button class="md-icon-button" ng-click="cancel()"
                         aria-label="Close Dialog">
            		<i class="material-icons">close</i>
      	      </md-button>
      	    </div>
      	  </md-toolbar>

      	  <md-dialog-content>
      	    <md-autocomplete
             md-selected-item="substance"
             md-search-text="name"
             md-items="item in ctrl.querySearch(name)"
             md-item-text="item.name.value"
             md-min-length="1"
             md-floating-label="Name"
             required>
              <md-item-template>
                <span md-highlight-text="name" md-highlight-flags="^i">
                  {{item.name.value}}
                </span>
              </md-item-template>
              <md-not-found>
                No Results Found
              </md-not-found>
            </md-autocomplete>
                
      	    <md-input-container>
      	      <label>Color</label>
              <input ng-model="color"/>
              <color-picker ng-model="color"
               ng-init="color = color || '#f05a28'">
              </color-picker>
      	    </md-input-container>
      	    <md-dialog-actions layout="row">
      	      <span flex></span>
      	      <md-button ng-click="cancel()">Cancel</md-button>
      	      <md-button ng-click="ctrl.processReturn(activity)">{{function}}</md-button>
      	    </md-dialog-actions>
      	  </md-dialog-content>
      	</form>
      </md-dialog>
    </script>

    <script type="text/ng-template" id="term.html">
      <md-dialog aria-label="{{function}} Term">
      	<form ng-cloak>
      	  <md-toolbar>
      	    <div class="md-toolbar-tools">
      	      <h2>{{function}} Term</h2>
      	      <span flex></span>
      	      <md-button class="md-icon-button" ng-click="cancel()"'
               aria-label="Close Dialog">
      		    	<i class="material-icons">close</i>
      	      </md-button>
      	    </div>
      	  </md-toolbar>

      	  <md-dialog-content>
            <md-input-container>
      	      <label>Name</label>
      	      <input ng-model="name" required/>
      	    </md-input-container>
      	    <md-input-container>
      	      <label>Color</label>
              <input ng-model="color"/>
      	      <color-picker ng-model="color"
               ng-init="color = color || '#f05a28'">
              </color-picker>
      	    </md-input-container>
      	    <md-dialog-actions layout="row">
      	      <span flex></span>
      	      <md-button ng-click="cancel()">Cancel</md-button>
      	      <md-button ng-click="ctrl.processReturn(term)">
                {{function}}
              </md-button>
      	    </md-dialog-actions>
      	  </md-dialog-content> 
      	</form>
      </md-dialog>
    </script>

    <script type="text/ng-template" id="recordMood.html">
      <md-dialog aria-label="Record Mood">
      	<form ng-cloak>
      	  <md-toolbar>
      	    <div class="md-toolbar-tools">
      	      <h2>Record Mood</h2>
      	      <span flex></span>
      	      <md-button class="md-icon-button" ng-click="cancel()"
                aria-label="Close Dialog">
            		<i class="material-icons">close</i>
      	      </md-button>
      	    </div>
      	  </md-toolbar>

      	  <md-dialog-content>
      	    <h1 ng-attr-style='color: {{colorOf(weight)}}'>{{name}}</h1>
      	    <h1 ng-attr-style='color: {{colorOf(weight)}}'>{{weight}}</h1>
      	    <md-slider-container>
      	      <md-slider flex min="-100" max="100" ng-model="weight" aria-label="Weight"></md-slider>
      	    </md-slider-container>
      	    <md-dialog-actions layout="row">
      	      <span flex></span>
      	      <md-button ng-click="cancel()">Cancel</md-button>
      	      <md-button ng-click="ctrl.returnNew()">Record</md-button>
      	    </md-dialog-actions>
      	  </md-dialog-content>
      	</form>
      </md-dialog>
    </script>

    <script type="text/ng-template" id="options.html">
      <md-dialog aria-label="Options">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Options</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()"
                aria-label="Close Dialog">
                <i class="material-icons">close</i>
              </md-button>
            </div>
          </md-toolbar>

          <md-dialog-content>
            <h1>{{name}}</h1>
            <md-list ng-cloak>
              <md-list-item>
                <md-button ng-click='ctrl.edit(elem)'>Edit</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-click='ctrl.delete(elem)'>Delete</md-button>
              </md-list-item>
            </md-list>
            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="cancel()">Cancel</md-button>
            </md-dialog-actions>
          </md-dialog-content>
        </form>
      </md-dialog>
    </script>

    <script type="text/ng-template" id="settings.html">
      <md-dialog aria-label="Settings">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Settings</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()"
                aria-label="Close Dialog">
                <i class="material-icons">close</i>
              </md-button>
            </div>
          </md-toolbar>

          <md-dialog-content>
          </md-dialog-content>
        </form>
      </md-dialog>
    </script>

    <script src='node_modules/angular/angular.js' type='application/javascript'></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src='node_modules/angular-material/angular-material.js'></script>
    <script src='node_modules/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='node_modules/humanize-duration/humanize-duration.js'></script>
    <script src='node_modules/moment/moment.js'></script>
    <script src='node_modules/angular-timer/dist/angular-timer.min.js'></script>
    <script src='node_modules/chart.js/dist/Chart.min.js'></script>
    <script src='node_modules/angular-chart.js/dist/angular-chart.min.js'></script>
    <script src='node_modules/js-data/dist/js-data.js'></script>
    <script src='node_modules/js-data-localstorage/dist/js-data-localstorage.js'></script>
    <script src='node_modules/angular-long-press/dist/angular-long-press.min.js'></script>
    <script src='node_modules/angular-color-picker/angular-color-picker.js'></script>
    <script src='index.js'></script>  
  </body>
</html>
