md-toolbar .material-icons {
    font-size: 230%;
    line-height: 1.24;
    margin-left: -.06em;
}

md-dialog md-input-container {
    width: 95%;
    margin-left: 2.5%;
}

md-list-item .md-button {
    width: 100%;
    margin: 0;
}

button .md-list-item-text {
    text-align: left;
}

.entry {
    border-bottom: 1px solid rgba(0,0,0,.25);
}

md-dialog h1 {
    text-align: center;
}

.angular-color-picker {
    height: 200px;
}

canvas {
    height: 150px !important;
}