#content {
	margin-top: 4em;
}

.mat-sidenav-container {
	min-height: 100vh;
}

.mat-sidenav {
	position: fixed;
}

.mat-toolbar {
	position: fixed;

	button {
		margin-right: .25em;
		min-width: 2em;
		padding: 0.25em 0.75em;
	}
}