#content {
	margin-top: 4em;
	position: relative;
}

.mat-sidenav-container, .mat-sidenav-content, #content {
	min-height: calc(100vh - 4em);
}

.mat-toolbar {
	position: fixed;

	button {
		margin-right: .25em;
		min-width: 2em;
		padding: 0.25em 0.75em;
	}
}