@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	max-width: 35em;
	margin: 0 auto;
}

.corner-button {
	//position: -webkit-sticky ! important;
	//position: sticky ! important;
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.colored-row {
	display: flex;
	align-items: stretch;
	border-bottom: 1px solid rgba(0,0,0,0.5);

	&:hover {
		background-color: rgba(0, 0, 255, 0.1);
	}

	span {
		display: flex;
		flex: 0;
		padding: .25em;
		font-family: Roboto, sans-serif;

		&.name {
			flex: 1;

			& > *:first-child {
				margin-top: 0;
				padding-top: 0;
			}

			& > *:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}

			p {
				font-size: 0.9em;
			}
		}

		&.time {
			justify-content: flex-end;
			align-self: center;
		}

		&.color {
			min-width: 1em;
		}
	}
}

ol.list {
	list-style: none;
	font-size: 1.5em;
	margin-top: 1.5em;

	&, & ol {
		margin: 0;
		padding: 0;
	}
}

.mat-action-list.options {
	display: flex;

	.mat-list-item {
		display: flex;
		justify-content: flex-end;
		flex: 0;
		padding: 0.25em;

		&:first-child {
			flex: 1;
		}

		.mat-list-item-content {
			padding: 0 .25em 0 0;
		}
	}
}

p {
	padding: .5em;
	font-size: 1.25em;
}