ol {
	list-style: none;
	font-size: 1.25em;

	div {
		font-size: 2.5em;
	}

	ol li {
		display: flex;
		align-items: stretch;

		&:hover {
			background-color: rgba(0, 0, 255, 0.1);
		}

		span {
			display: flex;
			flex: 1;
			padding: .1em;

			&.name {
				flex: 10;
			}

			&.time {
				justify-content: flex-end;
			}

			&.color {
				width: 1em;
			}
		}
	}
}