<ol id='days' class='list'>
	<ng-template ngFor let-day [ngForOf]='days'>
		<li>
			<div class='day'>{{day.displayText}}</div>
			<ol *ngIf='day.events.length > 0' class='events'>
				<ng-template ngFor let-event [ngForOf]='day.events'>
					<li class='colored-row'>
						<span class='color' [style.background-color]='event.color'></span>
						<span markdown class='name' [data]='event.name'></span>
						<span class='time'>{{event.displayTime}}</span>
					</li>
				</ng-template>
			</ol>
		</li>
	</ng-template>
</ol>
