<md-dialog aria-label="{{function}} Activity">
  <form ng-cloak ui-keypress="{13:'ctrl.processReturn(activity)'}">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{function}} Activity</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"
                   aria-label="Close Dialog">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-autocomplete
       md-selected-item="substance"
       md-search-text="name"
       md-items="item in ctrl.querySearch(name)"
       md-item-text="item.name.value"
       md-min-length="1"
       md-floating-label="Name"
       md-autofocus
       required>
        <md-item-template>
          <span md-highlight-text="name" md-highlight-flags="^i">
            {{item.name.value}}
          </span>
        </md-item-template>
        <md-not-found>
          No Results Found
        </md-not-found>
      </md-autocomplete>
          
      <md-input-container>
        <label>Color</label>
        <input ng-model="color"/>
        <color-picker ng-model="color"
         ng-init="color = color || '#f05a28'">
        </color-picker>
      </md-input-container>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="ctrl.processReturn(activity)">
          {{function}}
        </md-button>
      </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>
