<md-content class="md-padding">
  <section
   ng-repeat="day in updater.events.byDay | orderBy: '-display_text'">
    <md-subheader class="md-primary">
      {{day.display_text}}
    </md-subheader>
    <md-list ng-cloak>
      <md-list-item
       ng-repeat="event in day.events | orderBy: '-time'">
        <md-button ng-click='ctrl.eventSelected(event)'
         class="md-list-item-content"
         on-long-press='ctrl.eventOptions(event)'>
          <div class="md-list-item-text" layout="row">
            <span flex>{{event.source.name}}</span>
            <span>{{event.display_time}}</span>
          </div>
        </md-button>
      </md-list-item>
    </md-list>
  </section>
</md-content>
