:host /deep/ .mat-list-item-content
	width: 100%

#activities
	list-style: none

	.row
		display: flex
		flex-direction: row

		.color
			flex-grow: 0
			flex-shrink: 0
			flex-basis: 10%
			min-height: 1em

		.name
			flex: 8

		.timer
			flex: 2
			text-align: right
