<mat-list id='activities' class='list'>
	<ng-template ngFor let-activity [ngForOf]='activities | async'>
		<mat-list-item class='row' (tap)='createEvent(activity)' (press)='options(activity)'>
			<div class='color' [style.background]='activity.color'></div>
			<div class='name'>{{activity.name}}</div>
			<div class='timer'>{{activity.timeDelta}}</div>
		</mat-list-item>
	</ng-template>
</mat-list>

<button mat-fab aria-label='Add Activity' (click)='showNewActivityDialog()' class='corner-button'>
	<mat-icon>add</mat-icon>
</button>